<div class="back">
  <article class="uk-comment uk-box-shadow-xlarge uk-padding uk-animation-fade">
      <div class="icon close"></div>
      <div class="icon mini"></div>
      <div class="icon full"></div>
      <header class="uk-comment-header">
          <div class="uk-grid-medium uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                  <img class="uk-comment-avatar uk-border-circle" src="assets/avatar.jpg" width="80" height="80" alt="">
              </div>
              <div class="uk-width-expand">
                  <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Muhammad Farhan Bin Mustar</a></h4>
                  <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                      <li><a class="uk-disabled" href="">PROGRAMMER</a></li>
                      <li><a class="uk-disabled" href="">MALAYSIA</a></li>
                  </ul>
              </div>
          </div>
      </header>
      <div class="uk-comment-body">
          <p class="text-indent">Farhan Mustar adalah seorang <i>programmer</i>&nbsp; yang telah berkecimpung di dalam industri automasi dan robotik sejak tahun 2017. Sebagai graduan di Universiti Teknologi Malaysia, UTM, beliau telah memulakan kerjaya melalui kenalan ketika menceburi pertandingan robotik semasa di universiti.</p>
      </div>
  </article>
</div>
