// Container style
.app {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.app .app-header {
  flex: 0 1 auto;
}

.app .app-content {
  flex: 1 1 auto;
}

.app .app-footer {
  flex: 0 1 40px;
}

// Component style
.app-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.app-toolbar-spacer {
  flex: 1 1 auto;
}

.app .app-content {
  padding: 30px;
}

.uk-navbar-container {
  padding: 0px 30px;
  background-image: linear-gradient(150deg, #7408a6, #f02a62);

  .site-title {
    width: 120pt;
    color: white;
    font-size: 15pt;
    line-height: 15pt;
    .site-initial {
      position: relative;
      top: -5px;
      right: -5px;
      font-weight: lighter;
      font-size: 34px;
    }
  }
  .site-navbar-text {
    color: white;
    &:hover, &[aria-expanded="true"] {
      color: #b3b3b3;
    }
  }
  .uk-navbar-nav {
    margin: 0px 30px;
  }
}
