<div class="app">
  <div class="app-header">
    <nav class="uk-navbar-container uk-animation-slide-top-small" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
              <li class="uk-active">
                <a class="site-title" routerLink="">
                  <span class="site-initial">{{ title_initial }}</span>
                  {{ title_first_line }}
                  <br/>&nbsp;
                  {{ title_second_line }}
                </a>
              </li>
            </ul>
        </div>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            <a routerLink="info" uk-tooltip="title: info; pos: bottom" class="site-navbar-text">
              <span uk-icon="info"></span>
            </a>
          </ul>
        </div>
    </nav>
  </div>
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</div>
